.link {
  display: block;
  background-color: black;
  font-size: 14px;
  height: 32px;
  padding: 4px 15px;
  border-radius: 6px;
  color: #fff;
  box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
  float: right;
  width: 25.2rem;
  text-align: center;
}

.link:hover {
  color: #fff;
}
