:root {
  --navbar-height: 64px;
  --font-color: #1e1e1e;
  --font-muted: #999999;
  --bkg-input: #ecf1f7;
  --bkg-input-error: rgba(224, 31, 25, 0.12);
  --bkg-blue: #336fee;
  --bkg-violet: #4530af;
  --bkg-blue-hover: #2b5fcf;
  --bkg-light-blue: #ecf1f7;
  --text-success: #00a127;
  --text-error: #e31c1c;
}
