.leader-card {
  display: grid;
  grid-template-areas: 'avatar nickName score dynamics place';
  grid-auto-columns: rem(96) rem(220) rem(116) rem(32) rem(96);
  align-items: center;
  row-gap: rem(80);

  padding: rem(16) 0;

  border-radius: rem(48);
  background-color: var(--bkg-light-blue);

  &__img {
    @include position-stretching;

    object-fit: cover;

    border-radius: 50%;

    &-wrapper {
      $size: 96px;

      position: relative;

      grid-area: avatar;

      width: rem($size);
      height: rem($size);
      margin: rem(-30);
    }
  }

  &__name {
    overflow: hidden;
    grid-area: nickName;

    padding: 0 rem(16);

    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__score {
    grid-area: score;
  }

  &__dynamics {
    grid-area: dynamics;

    height: rem(32);
  }

  &__place {
    @include text-props(84, 20, 900);

    position: relative;
    top: rem(-16);

    grid-area: place;

    padding-right: rem(16);

    text-align: right;
  }

  & + & {
    margin-top: 4rem;
  }
}

:global {
  .dynamics-up {
    background-image: url('./dynamicsIcons/up.svg');
  }

  .dynamics-down {
    background-image: url('./dynamicsIcons/down.svg');
  }

  .dynamics-same {
    background-image: url('./dynamicsIcons/same.svg');
  }
}
