.navbar {
  width: 100%;
  height: var(--navbar-heght);
  ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
  }
  a {
    text-decoration: none;
  }
}
