.navbar {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: var(--navbar-heght);

  ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
  }

  li {
    padding: 0 rem(32);
    height: rem(36);
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  a {
    text-decoration: none;

    &.active {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: rem(128);
      padding: rem(8);
      border-radius: rem(8);
      background: transparent;
      border: rem(1) solid var(--bkg-violet);
      color: var(--bkg-violet);

      &:hover {
        color: var(--bkg-blue);
        border: rem(1) solid var(--bkg-blue);
      }
    }
  }
}

.btn {
  padding: rem(16);
}
