.navbar {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: var(--navbar-heght);

  ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
  }

  li {
    padding: 0 32px;
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  a {
    text-decoration: none;
  }
}

.btn {
  padding: 16px;
}
