.container {
  display: flex;
  gap: 0.1rem;
  width: 100%;
}

.button {
  background-color: transparent;
  cursor: pointer;
  border-radius: 100%;
  border: none;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;

  &:hover {
    background-color: #ffffff80;
  }
}
