.title {
  color: $dark-blue;
  font-size: 8rem;
  margin-bottom: 2rem;
}

.description {
  color: $dark-blue;
  font-size: 2rem;
}

.link {
  font-family: $default-font-family;
  font-size: 1.25rem;
  margin-top: 2rem;
}
