@use 'sass:math';
@import 'utils/index';

//* paths */
$pathFonts: '/fonts/';

//* rules */
$rulesDisplay: (
  hidden: (
    display: none,
  ),
  block: (
    display: block,
  ),
  inline: (
    display: inline,
  ),
  inline-block: (
    display: inline-block,
  ),
  flex: (
    display: flex,
  ),
  inline-flex: (
    display: inline-flex,
  ),
);

//* colors (Имя цвета можно получить тут https://chir.ag/projects/name-that-color/#6195ED) */
$black: #000000;
$white: #ffffff;
$governor-bay: #6195ed;
$gallery: #efefef;
$dark-blue: #113c7c;

//* dynamic colors */
$color-brand: $governor-bay;

$background-color-default: $white;

//* media queries */
$screen-width: (
  mobile: 320,
  mobileMax: 767,
  tablet: 768,
  desktop: 1024,
  desktopBigMin: 1279,
  desktopBig: 1280,
  desktopLarge: 1366,
);
$screen: (mobile, tablet, desktop, desktopBig, desktopLarge);

//* fonts */
$base-font-size: 16px;
$base-line-height: math.div(24, 16);
$base-font-family: Verdana, Geneva, sans-serif;
$font-family-brand: 'Segoe-Print';
$default-font-family: $font-family-brand, $base-font-family;
$font-size: $base-font-size;
$line-height: $base-line-height;

//* font-size */
//$font-size-text: 20px;

//* sizes */
//$container-max-width: 1260px;

//* transition */
//$transition-duration: .3s;
//$transition-easing: ease-out;
//$transition-default: all $transition-duration $transition-easing;

//* border radius */
//$border-radius-button: rem(10px);

//* box shadows */
//$box-shadow-card: 0 rem(30px) rem(30px) rgba($black , .15);

//* z-index */
//$z-index-header: 500;
