$font-size: 16px;

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

@function em($px, $context: $font-size) {
  @if (unitless($px)) {
    $px: $px * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $px / $context * 1em;
}

@function rem($px, $context: $font-size) {
  @if (unitless($px)) {
    $px: $px * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return calc($px / $context) * 1rem;
}
