.forumPageCard {
  border: solid $black 1px;
  background: rgba(248, 248, 248, 0);
  margin-right: 50px;
}

.forumPageLayout {
  height: 100%;
}

.wrapper {
  margin-top: 30px;
}

.LikesComments {
  justify-content: space-evenly;
  width: 100%;
}
