.forumPageCard {
  border: solid $black 1px;
  background: rgba(248, 248, 248, 0.00);
  margin-right: 50px;
}

.forumPageLayout{
  height: 100%;
  background-image: url("./../../../../assets/backgroundWhite.png");
}

.wrapper{
  margin-top: 30px;
}

.LikesComments{
  justify-content: space-evenly;
  width: 100%;
}

