.container {
  padding: 1rem 0 0.8rem;
}

.container + .container {
  border-top: 1px solid var(--border-color);
}

.info {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 0.7rem;

  .avatar {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
  }

  .author {
    display: inline-flex;
    font-weight: bold;
  }

  .date {
    display: inline-flex;
    font-size: 0.8rem;
    opacity: 0.8;
    height: 1rem;
    line-height: 1.1rem;
  }
}

.comment {
  margin-bottom: 0.5rem;
}
