@import 'reset';
@import 'variables/global';
@import 'scss/index';

.App {
  min-height: 100vh;
  width: 100%;
  height: 100vh;
}

.page-wrapper {
  padding-top: var(--navbar-height);
  height: calc(100% - var(--navbar-height));
}
